$p100: 100%; 
$color1: #659DBD;
$color2: #669E27;
$color3: #DAAD86;
$color4: #BC986A;
$color5: #FBEEC1;
$no-repeat: no-repeat;
$center: center;
$padding: padding;
$margin: margin;
$max-width: max-width;
$container: container;