/*-------------------------------------------*\
   index.scss
 
   Index
   - VARIABLES GLOBALS & VARIABLES FONTS            - Definim les variables que anem a utilitzar al fitxer i les fonts de la plantilla.
   - PROPIETATS ESTRUCTURA                          - Definim com s'estructurarà el cos de la pàgina.
   - PROPIETATS DE L'ICONA DE CÀRREGA               - Propietats de l'icona que apareix mentres carrega la pàgina.
   - PROPIETATS DELS GRÀFICS                        - Estils sobre el contenidor de la gràfica.
   - PROPIETATS DELS MISSATGES                      - Definim com es mostraran els avisos al perfil de cada usuari.
   - PROPIETATS DE L'IMATGE QUAN NO HI HA CONTINGUT - Propietats de l'imatge que apareix quan no hi ha contingut.
   - PROPIETATS DEL HEADER                          - Estils per al menú.
   - PROPIETATS DEL BODY                            - Propietats d'on es mostrarà la informació.
   - PROPIETATS DEL BANNER                          - Estils del banner.
   - PROPIETATS DEL FORMULARI DE CONTACTE           - Definim la vista del formulari.
   - PROPIETATS DELS TIPS & CATEGORIES              - Estils dels consells i categories.
   - PAGINATION                                     - Propietats de la paginació.
   - PROPIETATS DELS DETALLS D'UN TIP               - Definim com es mostrara la vista dels detalls d'un consell.
   - PROPIETATS DELS CHALLENGES & OPERATIONS        - Estils dels reptes.
   - PROPIETATS DE LES DESCÀRREGUES                 - Propietats de les descàrregues.
   - PROPIETATS ERRORS 401 & 404					- Estils errors.
   - MEDIA QUERIES                                  - Media Queries per fer la pàgina 'responsive'.
\*-------------------------------------------*/


/*  ***************** VARIABLES GLOBALS & VARIABLES FONTS ******************* */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */

[class*="entypo-"]:before {
  	font-family: 'entypo', sans-serif;
}

* {
  	box-sizing: border-box;
}

@font-face {
	font-family: myFirstFont;
	src: url(../Oswald-Regular.ttf);
}


/*  ***************** PROPIETATS ESTRUCTURA ******************* */
body {
	@include Display(grid);
	grid-template-areas:"head"
						"body"
						"foot";
	font-size: 18px;
	grid-template-rows: auto 1fr auto;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	&.dark {
		background-color: rgb(30, 34, 39);
		color: #fff;
	}
}

/*  ***************** PROPIETATS DE L'ICONA DE CÀRREGA ******************* */
.loading-spinner {
    animation: rotation 2s infinite linear;
    width: 150px;
    height: 150px;
    @include Display(block);
    margin: auto;
}

.loading-spinner > path, .loading-spinner > polygon {
    fill: #6AC259;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/*  ***************** PROPIETATS DELS GRÀFICS ******************* */
.chart {
    position: relative;
    height: 50vh;
    width: 96vw;
    margin-bottom: 50vh;
}

/*  ***************** PROPIETATS DELS MISSATGES ******************* */
.messages {
	@include Display();
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: $center;
}

.message {
    padding:12px;
    margin: 20px;
}

.message__warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.message__alert {
    color: #D8000C;
    background-color: #FFD2D2;
}

.warning__link {
    color: #9F6000;
    margin-left: 5px;
}

.alert__link {
    color: #D8000C;
    margin-left: 5px;
}


/*  ***************** PROPIETATS DE L'IMATGE QUAN NO HI HA CONTINGUT ******************* */
.noContent {
    top: 0; 
    left: 0; 
    width: $p100; 
    z-index: -1; 
    background-size: cover;
}

/*  ***************** PROPIETATS DEL HEADER ******************* */
.header {
	grid-area:head;
	font-family: myFirstFont; 
	#{$margin}: auto;
	#{$max-width}: $p100;
	width: $p100;
	background-color: $color1;
	font-weight: bold;
}

.header__checkbox, .header__toggle {
    @include Display(none);
}

.header__menu {
	#{$padding}: 0;
	#{$margin}: 0;
	#{$max-width}: $p100;
	height: 60px;
	@include Display();
	flex-direction: row;
	justify-content: space-around;
	align-items: $center;
	list-style-type: none;
}

.menu__link {
	#{$padding}: 1em;
	font-size: 14px;
	color: $color5;
	text: {
		decoration: none;
		transform: uppercase;
	}
	transition:0.7s;
	&:hover {
		text-decoration: underline;
		font-size: 20px;
	}
}

.menu__prodpic {
	#{$margin}: 10px;
	width: 50px;
	height: 50px;
}

.menu__link--logo {
	text-transform: none;
	#{$padding}: {
		top: 0.5em;
		bottom: 0.5em;
		left: 1em;
		right: 1em;
	}
	background-image: url(../images/favicons/favicon-32x32.png);
	background-repeat: $no-repeat;
	transition: none;
}


/*  ***************** PROPIETATS DEL BODY ******************* */
.#{$container} {
    grid-area:body;
    #{$margin}-bottom: auto;
}
  
.#{$container}--form {
    #{$max-width}: $p100;
    #{$margin}: {
        left: auto;
        right: auto;
    }
    #{$padding}: 1em;
}
  
.#{$container}__name {
    @include BGyColor($color5, $color1);
    text: {
        align: left;
        transform: uppercase;
    }
    font-weight: 300;
	letter-spacing: 0.1em;
	font-weight: bold;
}


/*  ***************** PROPIETATS DEL BANNER ******************* */
.total-recycled {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: -15%;
}

.banner_image {
    width: 50%;
    height: 300px;
}

.banner_image:nth-last-child() {
    width: $color1;
}

.title {
    background-color: $color1;
    position: relative;
	top: 20%;
    left: 0%;
    padding: 50px 20px 50px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}


/*  ***************** PROPIETATS DEL FORMULARI DE CONTACTE ******************* */
.#{$container}__module {
    @include Display(grid);
	grid-template-columns: 1fr 2fr;
	> * {
		#{$padding}: 2em;
	}
}

/* ------------------- 
  INFORMACIO 
  ------------------- */
.module__info {
    background-color: $color2;
    text-align: left;
}
  
.info__data {
    list-style: none;
    #{$padding}: 0;
}

/* ---- 
  FORMULARI 
  ---- */
.#{$container}__form {
    @include Display(grid);
    background-color: $color3;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
  
.form__field {
    #{$margin}: 0;
}
  
.field__label {
    @include Display(block);
}
  
.form__field--full {
    grid-column: 1 / 3;
}

.field__input {
    width: $p100;
    #{$padding}: 1em;
    border: solid 1px $color5;
    border-radius: 4px;
}
  
.field__input--button {
    @include BGyColor($color4, $color2);
    width: 20%;
    border: 0;
    #{$margin}-top: 2em;
    text-transform: uppercase;
    font-size: 14px;
	font-weight: bold;
	&:hover {
		@include BGyColor($color5, $color3);
		border: 1px solid $color3;
		width: $p100;
		transition: width 2s;
	}
}


/*  ***************** PROPIETATS DELS TIPS & CATEGORIES ******************* */

.#{$container}__module--tips {
	@include Display();
	flex-direction: row;
	flex-wrap: wrap;
}

.#{$container}__links {
	@include Display();
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: $center;
    text-align: $center;
    width: $p100;
    background-color: $color3;
}

.links__link {
	color: $color5;
  	text-decoration: none;
  	width: 30%;
  	font-weight: bold;
	&:hover {
		@include BGyColor($color4, $color2);
		transition: 0.7s;
	}
}

.info__preview, .info__title, .info__category {
  	text-decoration: none;
}

.news-container {
	@include Display(grid);
	grid-template-areas: "items" "pagination";
	grid-template-rows: auto 1fr;
}

.news__items {
	grid-area: items;
	@include Display();
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: $center;
	height: $p100;
}

.news {
	@include Display();
	flex-direction: column;
	flex-grow: 1;
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid $color3;
	background-origin: border-box;
    width: 20%;
    background-color: $color5;
	#{$margin}: 1%;
	text-align: $center;
	&:hover {
		@include BGyColor($color5, $color4);
		background-image: none;
		border: 3px solid $color4;
		transition: 1s;
	}
}

.news__image {
  	max-width: $p100;
}

.news__info, .author {
	@include BGyColor(rgba(102, 158, 39, 0.6), black);
	height: $p100;
	text-decoration: none;
}

.news__meta {
	@include BGyColor(rgba(102, 158, 39, 0.6), black);
	@include Display();
  	flex-direction: column;
}

.author-image {
	border-radius: 50px;
	width: 35px;
	height: 35px;
}

.container__categories {
	@include Display();
	grid-template-areas: "title" "categories";
	grid-template-rows: 1fr auto;
	#{$margin}-bottom: 20px;
	background-color: $color1;
}

.categories__title {
	grid-area: title;
	color: $color5;
	text-align: center;
	font-weight: bold;
}

.categories {
	grid-area: categories;
	@include Display();
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.categories__category {
	@include BGyColor($color5, $color2);
	text-decoration: none;
	border-radius: 5px;
	width: 15%;
	#{$margin}: 15px;
	#{$padding}: {
		top: 5px;
		bottom: 5px;
	}
	text-align: $center;
	&:hover {
		@include BGyColor(black, yellow);
		transition: .7s;
	}
}

/*  ***************** PAGINATION ******************* */

.pagination {
	grid-area: pagination;
	@include Display();
	flex-direction: row;
	list-style-type: none;
}

.page__item {
	padding: 15px;
	border-radius: 5px;
	background-color: $color2;
}

.page__item--selected {
  	background-color: $color4;
}

.page__number {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.page__item:hover {
  	background-color: $color4;
}

/*  ***************** PROPIETATS DELS DETALLS D'UN TIP ******************* */

.article {
	width: 80%;
	#{$margin}: {
		left: auto;
		right: auto;
		top: 60px;
		bottom: 100px;
	}
	background-color: $color1;
	#{$padding}-bottom: 80px;
	#{$margin}: 100px;
}

.article__image {
  width: $p100;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.article__meta {
	@include Display();
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
}

.article__title {
	font: {
		size: 40px;
		weight: bold;
	}
	text-align: $center;
}

.article__header {
	font-weight: lighter;
	text-align: $center;
	#{$margin}-bottom: 40px;
}

.article__content {
	position: relative;
	max-width: 65ch;
	#{$margin}: {
		left: 17%;
		right: 17%;
		bottom: 40px;
	}
	line-height: 1.5em;
}

/*  ***************** PROPIETATS DELS CHALLENGES & OPERATIONS ******************* */

.challenges__container {
	@include Display(grid);
	grid-template-areas: "button" "challenges" "pagination";
	grid-template-rows: 1fr auto auto;
	width: $p100;
}

.challenge__button {
	color: #FBEEC1;
	padding: 14px 25px;
	text-align: $center;
	text-decoration: none;
	@include Display(inline-block);
	#{$margin}: 2em;
}

.challenge__button--create {
	background-color: $color2;
	&:hover {
		background-color: rgb(60, 105, 9);
	}
}

.challenges__items {
	grid-area: challenges;
	@include Display();
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: $center;
	height: $p100;
	max-width: $p100;
}

.challenge {
	width: $p100;
	border: 4px solid $color1;
	background-color: rgba(102, 158, 39, 0.6);
	#{$margin}: 20px;
	border-radius: 15px;
	&:hover {
		background-color: rgba(218, 173, 134, 0.6);
		transition: .7s;
	}
	> * {
		#{$margin}: 10px;
	}
}

.info__title, .info__descr {
    text-align: $center;
}

.challenge--latest {
	#{$margin}: {
		right: auto;
		left: auto;
	}
}

.info__title {
	font-size: 23px;
	font-weight: bold;
}

.info__descr {
  	font-size: 18px;
}

.challenge__meta {
	@include Display();
	flex-direction: row;
	font-size: 14px;
}

.challenge__author {
	color: black;
	#{$margin}-right: 10px;
	text-decoration: none;
}

.challenge__button--edit, .challenge__button--delete {
	padding: 8px 5px;
	#{$margin}: 0;
	#{$margin}-left: 45px;
}

.challenge__button--edit {
	background-color: $color1;
	&:hover {
		background-color: rgb(38, 84, 110);
	}
}

.challenge__button--delete {
	background-color: #A81D2E;
	&:hover {
		background-color: rgb(87, 9, 18);
	}
}

.challenges__items--operations {
    flex-direction: row;
}

.operation {
    width: 40%;
    border: 4px solid $color5;
    background-color: $color3;
    border-radius: 15px;
    margin: 20px;
}


/*  ***************** PROPIETATS DE LES DESCÀRREGUES ******************* */
.container--downloads {
    @include Display();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $center;
}

.download {
    @include Display();
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid $color1;
    width: 20%;
    height: 500px;
    background-color: $color1;
    align-items: $center;
    margin: 30px;
}

.download__name {
    width: $p100;
    font-weight: bold;
    color: $color4;
    text-anchor: middle;
    background-color: $color5;
    text-align: $center;
    height: 10%;
}

.download__image {
    width: 50%;
	height: 60%;
	margin: {
		bottom: 15%;
		top: 10%;
	}
}

.download__button {
    width: 80%;
    text-decoration: none;
    text-align: $center;
    text-transform: uppercase;
    color: $color2;
    background-color: $color5;
	border: 2px solid $color2;
	padding: {
		right: 65px;
		top: 50px;
		left: 65px;
		bottom: 50px;
	}
    border-radius: 3px;
	box-sizing: border-box;
	font-size:14px;
    transition: all .3s ease;
}

.download__button:hover{
	background-color: $color2;
	color: $color5;
}


/*  ***************** PROPIETATS ERRORS 401 & 404 ******************* */
.errors400 {
    width: $p100;
    height: $p100;
}

.errors400__401 {
	width: 61%;
	@include Display(block);
	margin: {
		left: auto;
		right: auto;
	}
}


/*  ***************** PROPIETATS CARBON FOOTPRINT CALCULATOR ******************* */
.container__cfcalculator {
    display: grid;
    grid-template-areas:" - did-you-know"
                        "calculator did-you-know"
                        "calculator did-you-know";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
}

.calculator {
	grid-area:calculator;
	@include Display();
    flex-direction: column;
	margin: {
		left: auto;
		right: auto;
		top: 30px;
		bottom: 30px
	}
    width: 85%;
    border: 6px solid rgba(102, 158, 39, 0.6);
    border-radius: 10px;
}

.calculator > * {
    margin: 10px;
}

.calculator__field {
    @include Display();
    flex-direction: row;
    flex-wrap: wrap;
}

.calculator__field:nth-child(1) {
    margin-top: 20px;
}

.calculator__name {
    margin-right: auto;
}

.calculator__input {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    font-size: 25px;
    appearance:textfield;
}

.calculator__result {
    background-color: lightgrey;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.calculator__result--input {
    width: 60%;
}

.calculator__btn {
    color: black;
    margin-top: 30px;
    font-weight: bold;
    background-color: var(--color-5);
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
}

.calculator__btn:hover {
    background-color: var(--color-3);
    transition: 0.7s;
}


/*  ***************** PROPIETATS SLIDER ******************* */
.slider__container, .slider__container .slider__slide {
    width: 500px;
    height: $p100;
}

.slider__container {
    grid-area:did-you-know;
    overflow: hidden;
    margin: 0 auto;
    font-size: 1.2em;
    background: var(--color-1);
}

.slider__container .slider {
    position: relative;
    width: 9000px;
    top: 0;
    right: 0;
    animation: slide-animation 100s infinite;
}

.slider__container .slider__slide {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
}
  
@keyframes slide-animation {
    0% { 
        right: 0;
    }
    20% {
        right: 0;
    }
    22% {
        right: 100%;
    }
    42% {
        right: 100%;
    }
    44% { 
        right: 200%; 
    }
    64% {
        right: 200%;
    }
    66% { 
        right: 300%; 
    }
    98% { 
        right: 300%; 
    }
    100% {
        right: 400%;
    }
}


/*  ***************** MEDIA QUERIES ******************* */
@media screen and (max-width: 750px) {
	/*  ***************** PROPIETATS DEL HEADER ******************* */
	.header__toggle {
		position: relative;
		clear: both;
		@include Display(block);
		text-align: center;
		font-size: 14px;
		line-height: 40px;
		cursor: pointer;
		width: $p100;
		height: 40px;
		font-size: 18px;
		color: #FBEEC1;
		background: #DAAD86;
		transition: all .1s linear;
	}
	.header__menu > li:nth-child(2n+1) {
		padding: 0em;
	}
	.header__toggle:hover {
		color: #659DBD;
	}
	.header__checkbox:checked + label .header__menu {
		li {
		opacity: 1;
		visibility: visible;
		transition: all .7s linear;
		}
		height: 400px;
	}
	.header__menu {
		@include Display();
		flex-direction: column;
		justify-content: space-around;
		align-items: $center;
		height: 0px;
		transition: height .3s linear;
		li {
			@include Display();
		align-self: $center;
		width: $p100;
		opacity: 0;
		visibility: hidden;
		}
	}
	.menu__prodpic {
		@include Display(none);
	}
	.menu__link {
		width: $p100;
		text-align: $center;
		align-self: $center;
		align-content: $center;
	}
	.menu__link--logo {
		@include Display(none);
	}
	/*  ***************** PROPIETATS DEL FORMULARI DE CONTACTE ******************* */
	.container__module {
		@include Display(unset);
		> * {
		padding: 1em;
		}
	}
	.module__info {
		h2, ul {
		text-align: $center;
		}
	}
	.container__name {
		text-align: $center;
	}
	/*  ***************** PROPIETATS DELS TIPS & CATEGORIES ******************* */
	.container__module--tips, .container__links {
		flex-direction: column;
	}
	.news {
		width: $p100;
	}
		.links__link {
			#{$padding}: {
				top: 1em;
				bottom: 1em;
			}
			width: $p100;
		}
	.categories {
		flex-direction: column;
	}
	.categories__category, .article {
		width: $p100;
	}
	/*  ***************** PROPIETATS DELS DETALLS D'UNA NOTICIA ******************* */
	.article__content {
		line-height: 2em;
	}
	/*  ***************** PROPIETATS DELS CHALLENGES ******************* */
	.challenges__items {
		flex-direction: column;
	}
	.challenge {
		width: $p100;
	}

	/*  ***************** PROPIETATS DE LES DESCÀRREGUES ******************* */
	.container--downloads {
		flex-direction: column;
		justify-content: $center;
	}
	
	.download {
		width: 85%;
		height: 80%;
	}
    /*  ***************** PROPIETATS CARBON FOOTPRINT CALCULATOR ******************* */
    .container__cfcalculator {
        display: grid;
        grid-template-areas:"did-you-know"
                            "calculator"
                            "c11";
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }
}