/*-------------------------------------------*\
   index.css
 
   Index
   - VARIABLES GLOBALS & VARIABLES FONTS            - Definim les variables que anem a utilitzar al fitxer i les fonts de la plantilla.
   - PROPIETATS ESTRUCTURA                          - Definim com s'estructurarà el cos de la pàgina.
   - PROPIETATS DE L'ICONA DE CÀRREGA               - Propietats de l'icona que apareix mentres carrega la pàgina.
   - PROPIETATS DELS GRÀFICS                        - Estils sobre el contenidor de la gràfica.
   - PROPIETATS DELS MISSATGES                      - Definim com es mostraran els avisos al perfil de cada usuari.
   - PROPIETATS DE L'IMATGE QUAN NO HI HA CONTINGUT - Propietats de l'imatge que apareix quan no hi ha contingut.
   - PROPIETATS DEL HEADER                          - Estils per al menú.
   - PROPIETATS DEL BODY                            - Propietats d'on es mostrarà la informació.
   - PROPIETATS DEL BANNER                          - Estils del banner.
   - PROPIETATS DEL FORMULARI DE CONTACTE           - Definim la vista del formulari.
   - PROPIETATS DELS TIPS & CATEGORIES              - Estils dels consells i categories.
   - PROPIETATS PAGINATION                          - Propietats de la paginació.
   - PROPIETATS DELS DETALLS D'UN TIP               - Definim com es mostrara la vista dels detalls d'un consell.
   - PROPIETATS DELS CHALLENGES & OPERATIONS        - Estils dels reptes.
   - PROPIETATS DE LES DESCÀRREGUES                 - Propietats de les descàrregues.
   - PROPIETATS ERRORS 401 & 404					- Estils errors.
   - PROPIETATS CARBON FOOTPRINT CALCULATOR         - Definim el disseny de la vista de la Calculadora de Petjades de Carboni.
   - PROPIETATS SLIDER                              - Propietats de l'slider.
   - MEDIA QUERIES                                  - Media Queries per fer la pàgina 'responsive'.
\*-------------------------------------------*/


/*  ***************** VARIABLES GLOBALS & VARIABLES FONTS ******************* */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

:root {
  --p100: 100%;
  --color-1: #659DBD;
  --color-2: #669E27;
  --color-3: #DAAD86;
  --color-4: #BC986A;
  --color-5: #FBEEC1;
  --no-repeat: no-repeat;
  --center: center;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(../Oswald-Regular.ttf);
}


/*  ***************** PROPIETATS ESTRUCTURA ******************* */
body {
  display:grid;
  grid-template-areas:"head"
                      "body"
                      "foot";
  font-size: 18px;
  grid-template-rows: auto 1fr auto;
  /* background-image: url(../images/bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

body.dark {
  background-color: rgb(30,34,39);
  color: #fff;
}


/*  ***************** PROPIETATS DE L'ICONA DE CÀRREGA ******************* */
.loading-spinner {
    animation: rotation 2s infinite linear;
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.loading-spinner > path, .loading-spinner > polygon {
    fill: #6AC259;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/*  ***************** PROPIETATS DELS GRÀFICS ******************* */
.chart {
    position: relative;
    height: 50vh;
    width: 96vw;
    margin-bottom: 50vh;
}

/*  ***************** PROPIETATS DELS MISSATGES ******************* */
.messages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: var(--center);
}

.message {
    padding:12px;
    margin: 20px;
}

.message__warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.message__alert {
    color: #D8000C;
    background-color: #FFD2D2;
}

.warning__link {
    color: #9F6000;
    margin-left: 5px;
}

.alert__link {
    color: #D8000C;
    margin-left: 5px;
}


/*  ***************** PROPIETATS DE L'IMATGE QUAN NO HI HA CONTINGUT ******************* */
.noContent {
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: -1; 
    background-size: cover;
}

/*  ***************** PROPIETATS DEL HEADER ******************* */
.header {
    grid-area: head;
    font-family: myFirstFont;
    margin: auto;
    max-width: var(--p100);
    width: var(--p100);
    background-color: var(--color-1);
    font-weight: bold;
}

.header__checkbox, .header__toggle {
    display: none;
}

.header__menu {
    padding: 0;
    margin: 0;
    max-width: var(--p100);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: var(--center);
    list-style-type: none;
}

.menu__link {
    padding: 1em;
    font-size: 14px;
    color: var(--color-5);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.7s;
}

.menu__prodpic {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.menu__link--logo {
    text-transform: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-image: url(../images/favicons/favicon-32x32.png);
    background-repeat: no-repeat;
    transition: none;
}

.menu__link:hover {
    text-decoration: underline;
    font-size: 20px;
}


/*  ***************** PROPIETATS DEL BODY ******************* */
.container {
    grid-area: body;
    margin-bottom: auto;
}

.container--form {
    max-width: var(--p100);
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.container__name {
    color: var(--color-1);
    background: var(--color-5);
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}


/*  ***************** PROPIETATS DEL BANNER ******************* */
.total-recycled {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: -15%;
}

.banner_image {
    width: 50%;
    height: 300px;
}

.banner_image:nth-last-child() {
    width: var(--p100);
}

.title {
    background-color: var(--color-1);
    position: relative;
	top: 20%;
    left: 0%;
    padding: 50px 20px 50px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}


/*  ***************** PROPIETATS DEL FORMULARI DE CONTACTE ******************* */
.container__module {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container__module>* {
    padding: 2em;
}

/* ------------------- 
  INFORMACIO 
  ------------------- */

.module__info {
    background: var(--color-2);
    text-align: left;
}

.info__data {
    list-style: none;
    padding: 0;
}

/* ---- 
  FORMULARI 
  ---- */

.container__form {
    display: grid;
    background: var(--color-3);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.form__field {
    margin: 0;
}

.field__label {
    display: block;
}

.form__field--full {
    grid-column: 1 / 3;
}

.field__input {
    width: var(--p100);
    padding: 1em;
    border: solid 1px var(--color-5);
    border-radius: 4px;
}

.field__input--button {
    width: 20%;
    background: var(--color-4);
    border: 0;
    margin-top: 2em;
    color: var(--color-2);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.field__input--button:hover {
    border: 1px solid var(--color-3);
    background: var(--color-5);
    color: var(--color-3);
    width: var(--p100);
    transition: width 2s;
}


/*  ***************** PROPIETATS DELS TIPS & CATEGORIES ******************* */
.container__module--tips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.container__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: var(--center);
    text-align: var(--center);
    width: var(--p100);
    background-color: var(--color-3);
    justify-content: space-around;
}

.links__link {
    text-decoration: none;
    color: var(--color-5);
    width: 30%;
    font-weight: bold;
}

.links__link:hover {
    background-color: var(--color-4);
    color: var(--color-2);
    transition: 0.7s;
}

.info__preview, .info__title, .info__category {
    text-decoration: none;
}

.news-container {
    display: grid;
    grid-template-areas:"items"
                      "pagination";
    grid-template-rows: auto 1fr;
}

.news__items {
    grid-area: items;
    display: flex;
    flex-direction: row;
    justify-content: var(--center);
    flex-wrap: wrap;
    height: var(--p100);
}
  
.news {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid var(--color-3);
    width: 20%;
    background-color: var(--color-5);
    text-align: var(--center);
    margin: 1%;
    background-origin: border-box;
}
  
.news:hover {
    background-image: none;
    background-color: var(--color-4);
    border: 3px solid var(--color-3);
    transition: 1s;
}
  
.news__image {
    width: var(--p100);
}

.news__info, .author {
    background-color: rgba(102, 158, 39, 0.6);
    color: black;
    height: 100%;
    text-decoration: none;
}

.news__meta {
    background-color: rgba(102, 158, 39, 0.6);
    color: black;
    display: flex;
    flex-direction: column;
}

.author-image {
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

.container__categories {
    display: grid;
    grid-template-areas:"title"
                      "categories";
    grid-template-rows: 1fr auto;
    margin-bottom: 20px;
    background-color: var(--color-1);
}

.categories__title {
    grid-area: title;
    color: var(--color-5);
    text-align: var(--center);
    font-weight: bold;
}

.categories {
    grid-area: categories;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: var(--center);
}

.categories__category {
    text-decoration: none;
    background-color: var(--color-5);
    color: var(--color-1);
    border-radius: 5px;
    width: 15%;
    margin: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: var(--center);
}

.categories__category:hover {
    background-color: black;
    color: yellow;
    transition: .7s;
}


/*  ***************** PROPIETATS PAGINATION ******************* */
.pagination {
    grid-area: pagination;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.page__item {
    padding: 15px;
    border-radius: 5px;
    background-color: var(--color-2);
}

.page__item--selected {
    background-color: var(--color-4);
}

.page__number {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.page__item:hover {
    background-color: var(--color-4);
}


/*  ***************** PROPIETATS DELS DETALLS D'UN TIP ******************* */
.article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-1);
    margin-top: 60px;
    padding-bottom: 80px;
    margin-bottom: 100px;
}
  
.article__image {
    width: var(--p100);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.article__meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: var(--center);
    font-size: 12px;
}

.article__title {
    font-size: 40px;
    text-align: var(--center);
    font-weight: bold;
}
  
.article__header {
    font-weight: lighter;
    text-align: var(--center);
    margin-bottom: 40px;
}
  
.article__content {
    position: relative;
    max-width: 65ch;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 40px;
    line-height: 1.5em;
}


/*  ***************** PROPIETATS DELS CHALLENGES & OPERATIONS ******************* */
.challenges__container {
    display: grid;
    grid-template-areas:"button"
                      "challenges"
                      "pagination";
    grid-template-rows: 1fr auto auto;
    width: 100%;
}

.challenge__button {
    color: var(--color-5);
    padding: 14px 25px;
    text-align: var(--center);
    text-decoration: none;
    display: inline-block;
    margin: 2em;
}

.challenge__button--create {
    background-color: var(--color-2);
}

.challenge__button--create:hover {
    background-color: rgb(60, 105, 9);
}

.challenges__items {
    grid-area: challenges;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: var(--center);
    height: var(--p100);
    max-width: var(--p100);
}

.challenge {
    width: var(--p100);
    border: 4px solid var(--color-1);
    background-color: rgba(102, 158, 39, 0.6);
    border-radius: 15px;
    margin: 20px;
}

.challenge--latest {
    margin-right: auto;
    margin-left: auto;
}

.challenge:hover {
    background-color: rgba(218, 173, 134, 0.6);
    transition: .7s;
}

.challenge > * {
    margin: 10px;
}

.info__title, .info__descr {
    text-align: var(--center);
}

.info__title {
    font-size: 23px;
    font-weight: bold;
}

.info__descr {
    font-size: 18px;
}

.challenge__meta {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.challenge__author {
    color: black;
    margin-right: 10px;
    text-decoration: none;
}

.challenge__button--edit, .challenge__button--delete {
    padding: 8px 5px;
    margin: 0;
    margin-left: 45px;
}

.challenge__button--edit {
    background-color: var(--color-1);
}

.challenge__button--edit:hover {
    background-color: rgb(38, 84, 110);
}

.challenge__button--delete {
    background-color: #A81D2E;
}

.challenge__button--delete:hover {
    background-color: rgb(87, 9, 18);
}

.challenges__items--operations {
    flex-direction: row;
}

.operation {
    width: 40%;
    border: 4px solid var(--color-5);
    background-color: var(--color-3);
    border-radius: 15px;
    margin: 20px;
}


/*  ***************** PROPIETATS DE LES DESCÀRREGUES ******************* */
.container--downloads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: var(--center);
}

.download {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--color-1);
    width: 20%;
    height: 500px;
    background-color: var(--color-1);
    align-items: var(--center);
    margin: 30px;
}

.download__name {
    width: var(--p100);
    font-weight: bold;
    color: var(--color-4);
    text-anchor: middle;
    background-color: var(--color-5);
    text-align: var(--center);
    height: 10%;
}

.download__image {
    width: 50%;
    height: 60%;
    margin-bottom: 15%;
    margin-top: 10%;
}

.download__button {
    width: 80%;
    text-decoration: none;
    text-align: var(--center);
    text-transform: uppercase;
    color: var(--color-2);
    background-color: var(--color-5);
	border: 2px solid var(--color-2);
	padding: 15px;
	padding-right: 50px;
	padding-left: 50px;
    border-radius: 3px;
	box-sizing: border-box;
	font-size:14px;
    transition: all .3s ease;
}

.download__button:hover{
	background-color: var(--color-2);
	color: var(--color-5);
}


/*  ***************** PROPIETATS ERRORS 401 & 404 ******************* */
.errors400 {
    width: var(--p100);
    height: var(--p100);
}

.errors400__401 {
    width: 61%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*  ***************** PROPIETATS CARBON FOOTPRINT CALCULATOR ******************* */
.container__cfcalculator {
    display: grid;
    grid-template-areas:" - did-you-know"
                        "calculator did-you-know"
                        "calculator did-you-know";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
}

.calculator {
    grid-area:calculator;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 85%;
    border: 6px solid rgba(102, 158, 39, 0.6);
    border-radius: 10px;
}

.calculator > * {
    margin: 10px;
}

.calculator__field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.calculator__field:nth-child(1) {
    margin-top: 20px;
}

.calculator__name {
    margin-right: auto;
}

.calculator__input {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    font-size: 25px;
    appearance:textfield;
}

.calculator__result {
    background-color: lightgrey;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.calculator__result--input {
    width: 60%;
}

.calculator__btn {
    color: black;
    margin-top: 30px;
    font-weight: bold;
    background-color: var(--color-5);
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
}

.calculator__btn:hover {
    background-color: var(--color-3);
    transition: 0.7s;
}


/*  ***************** PROPIETATS SLIDER ******************* */
.slider__container, .slider__container .slider__slide {
    width: 500px;
    height: 100%;
}

.slider__container {
    grid-area:did-you-know;
    overflow: hidden;
    margin: 0 auto;
    font-size: 1.2em;
    background: var(--color-1);
}

.slider__container .slider {
    position: relative;
    width: 9000px;
    top: 0;
    right: 0;
    animation: slide-animation 100s infinite;
}

.slider__container .slider__slide {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
}
  
@keyframes slide-animation {
    0% { 
        right: 0;
    }
    20% {
        right: 0;
    }
    22% {
        right: 100%;
    }
    42% {
        right: 100%;
    }
    44% { 
        right: 200%; 
    }
    64% {
        right: 200%;
    }
    66% { 
        right: 300%; 
    }
    98% { 
        right: 300%; 
    }
    100% {
        right: 400%;
    }
}


/*  ***************** MEDIA QUERIES ******************* */
@media screen and (max-width: 750px) {
    /*  ***************** PROPIETATS DEL HEADER ******************* */
    .header__toggle {
        position: relative;
        clear: both;
        display: block;
        text-align: var(--center);
        font-size: 14px;
        line-height: 40px;
        cursor: pointer;
        width: var(--p100);
        height: 40px;
        font-size: 18px;
        color: var(--color-5);
        background: var(--color-3);
        transition: all .1s linear;
    }

    .header__menu>li:nth-child(2n+1) {
        padding: 0em;
    }

    .header__toggle:hover {
        color: var(--color-1);
    }

    .header__checkbox:checked+label .header__menu li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }

    .header__checkbox:checked+label .header__menu--main {
        height: 400px;
    }

    .header__menu--main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: var(--center);
        transition: height .3s linear;
    }

    .header__menu--main > .header__menu {
        padding-bottom: 30px;
    }

    .header__menu {
        height: 0px;
    }

    .header__menu li {
        display: flex;
        align-self: var(--center);
        width: var(--p100);
        opacity: 0;
        visibility: hidden;
    }

    .menu__prodpic {
        display: none;
    }

    .menu__link {
        width: var(--p100);
        text-align: var(--center);
        align-self: var(--center);
        align-content: var(--center);
    }

    .menu__link--logo {
        display: none;
    }

    /*  ***************** PROPIETATS DEL FORMULARI DE CONTACTE ******************* */
    .container__module {
        display: unset;
    }

    .container__module>* {
        padding: 1em;
    }
    
    .module__info h2, .module__info ul, .container__name {
        text-align: var(--center);
    }

    /*  ***************** PROPIETATS DELS TIPS & CATEGORIES ******************* */
    .container__module--tips {
        flex-direction: column;
    }

    .container__links {
        flex-direction: column;
    }
    
    .news {
        width: var(--p100);
    }

    .links__link {
        padding-top: 1em;
        padding-bottom: 1em;
        width: var(--p100);
    }

    .categories {
        flex-direction: column;
    }

    .categories__category {
        width: var(--p100);
    }

    /*  ***************** PROPIETATS DELS DETALLS D'UNA NOTICIA ******************* */
    .article {
        width: var(--p100);
    }
    
    .article__content {
        line-height: 2em;
    }

    /*  ***************** PROPIETATS DE LES DESCÀRREGUES ******************* */
    .container--downloads {
        flex-direction: column;
        justify-content: var(--center);
    }

    .download {
        width: 85%;
        height: 80%;
    }

    /*  ***************** PROPIETATS CARBON FOOTPRINT CALCULATOR ******************* */
    .container__cfcalculator {
        display: grid;
        grid-template-areas:"did-you-know"
                            "calculator"
                            "c11";
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }
}
